/* Fonts */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
:root {
  --default-font: "pretendard",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Marcellus",  sans-serif;
  --nav-font: "Marcellus",  sans-serif;
  --kr-font: "pretendard",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #2d465e; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #1BB24B; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #212529;  /* The default color of the main navmenu links */
  --nav-hover-color: #1BB24B !important; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #1BB24B; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #1BB24B;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

#header>div {
  gap: 100px;
}

/* 협력사 슬라이드 테스트중 */
#logo-carousel .carousel-item {
  transition: transform 0.5s ease;
}


/* custom class  */
.scroll-down {
  margin: 16px 0;
  /* 위쪽 여백 */
  font-size: 1rem;
  /* 전체 텍스트 크기 */
  color: #fff;
  /* 텍스트 색상 */
}

.arrow {
  font-size: 1.5rem;
  /* 화살표 크기 */
  margin-left: 5px;
  /* 화살표와 텍스트 간격 */
}

.bounce {
  animation: bounce 1s infinite;
  /* 애니메이션 설정 */
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    /* 원래 위치 */
  }

  40% {
    transform: translateY(-10px);
    /* 위로 이동 */
  }

  60% {
    transform: translateY(-5px);
    /* 약간 아래로 이동 */
  }
}

.line {
  width: 1px;
  height: 4rem;
  background-color: #fff;
}

/* 이미지 기본 스타일 */
.zoom-container img {
  width: 100% !important;
  max-width: 80%;
  /* 이미지가 컨테이너에 맞게 확장됨 */
  transition: transform 0.5s ease !important;
  /* 확대 효과를 부드럽게 처리 */

}

/* 호버 시 이미지 확대 */
.zoom-container:hover img {
  transform: scale(1.2) !important;
  /* 마우스를 올렸을 때 이미지 1.2배 확대 */
}


.about p {
  margin-bottom: 0;

}

/* contact us 카카오맵 */
.map-container {
  position: relative;
  /* position 설정 */
  overflow: hidden;
  /* 오버플로우 숨기기 */
  width: 100%;
  /* 너비 100% 설정 */
  min-height: 300px;
  /* 최소 높이 설정 */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#kakaoMap {
  width: 100%;
  height: 100%;
  /* 100% 높이로 설정 */
}

@media (max-width: 576px) {
  .map-container {
    min-height: 200px;
    /* 작은 화면에서 최소 높이 조정 */
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 아이템 간의 공간 분배 */
}

/* .partner_list {
  padding: 60px 0
} */

/* our partner */
.partner_list .partner_marquee {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  margin: 30px 0
}

.partner_list .partner_marquee div {
  display: flex;
  height: 100%;
  position: absolute;
  overflow: hidden
}

.partner_list .partner_marquee#partner_marquee1 div {
  width: 7560px;
  animation: partner_marquee1 45s linear infinite;
  left: 0
}

.partner_list .partner_marquee#partner_marquee2 div {
  width: 7560px;
  animation: partner_marquee2 45s linear infinite;
  right: 0
}

.partner_list .partner_marquee span {
  height: 100%;
  width: 270px;
  height: 220px;
  position: relative;
  display: block
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 13) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_01_sk.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 12) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_02_po.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 11) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_03_hh.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 10) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_04_gs.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 9) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_05_lo.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 8) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_06_jw.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 7) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_07.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 6) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_08.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 5) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_09.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 4) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_10.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 3) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_11.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 2) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_12.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 1) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_13.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_14.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 13) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_15.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 12) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_16.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 11) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_17.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 10) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_18.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 9) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_19.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 8) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_20.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 7) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_21.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 6) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_22.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 5) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_23.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 4) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_24.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 3) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_25.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 2) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_26.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n - 1) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_27.png") no-repeat 50% 50%;
  background-size: auto 100%
}

.partner_list .partner_marquee#partner_marquee2 div span:nth-of-type(14n) {
  background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_28.png") no-repeat 50% 50%;
  background-size: auto 100%
}

@keyframes partner_marquee1 {
  0% {
    left: 0
  }

  100% {
    left: -3780px
  }
}

@keyframes partner_marquee2 {
  0% {
    right: 0
  }

  100% {
    right: -3780px
  }
}

@media screen and (max-width: 1024px) {
  .partner_list {
    padding: 0 0 10vw
  }

  .partner_list .partner_marquee {
    height: 176px
  }

  .partner_list .partner_marquee #partner_marquee1 div {
    width: 6048px;
    animation: partner_marquee1 45s linear infinite;
    left: 0
  }

  .partner_list .partner_marquee #partner_marquee2 div {
    width: 6048px;
    animation: partner_marquee2 45s linear infinite;
    right: 0
  }

  .partner_list .partner_marquee #partner_marquee1 span,
  .partner_list .partner_marquee #partner_marquee2 span {
    width: 216px;
    height: 176px
  }

  @keyframes partner_marquee1 {
    0% {
      left: 0
    }

    100% {
      left: -3024px
    }
  }

  @keyframes partner_marquee2 {
    0% {
      right: 0
    }

    100% {
      right: -3024px
    }
  }
}

@media screen and (max-width: 640px) {
  .partner_list .partner_marquee {
    height: 132px
  }

  .partner_list .partner_marquee#partner_marquee1 div {
    width: 4536px;
    animation: partner_marquee1 45s linear infinite;
    left: 0
  }

  .partner_list .partner_marquee#partner_marquee2 div {
    width: 4536px;
    animation: partner_marquee2 45s linear infinite;
    right: 0
  }

  .partner_list .partner_marquee#partner_marquee1 span,
  .partner_list .partner_marquee#partner_marquee2 span {
    width: 162px;
    height: 132px
  }

  @keyframes partner_marquee1 {
    0% {
      left: 0
    }

    100% {
      left: -2268px
    }
  }

  @keyframes partner_marquee2 {
    0% {
      right: 0
    }

    100% {
      right: -2268px
    }
  }
}

/*//our partner */

/* Custom Cursor Styling */
.circle-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

/* Inner Circle Cursor */
.circle-cursor-inner {
  width: 6px;
  height: 6px;
  background-color: #1BB24B;
  border-radius: 50%;
  transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}

/* Outer Circle Cursor */
.circle-cursor-outer {
  width: 30px;
  height: 30px;
  border: 1px solid #1BB24B;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.1s ease-out;
}

/* Hover Effects */
.cursor-link-hover .circle-cursor-inner {
  width: 20px;
  height: 20px;
  background-color: #1BB24B;
  opacity: 0.5;
}

.cursor-link-hover .circle-cursor-outer {
  width: 4rem;
  height: 4rem;
  background-color: rgba(150, 144, 162, 0.75);
  border: none;
}


/*-------------------------------------------------------*/
/* Counters
/*-------------------------------------------------------*/

#counting-animation {
  font-family: var(--kr-font);
}

.counters.bg-parallax .statistic-timer,
.counters.bg-parallax .counter-text,
.counters.bg-color .statistic-timer,
.counters.bg-color .counter-text {
  color: #fff;
}

.counters.bg-parallax .statistic-timer:after,
.counters.bg-color .statistic-timer:after {
  border-color: #fff;
}

.statistic-border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.statistic-timer {
  color: #a7a7a7;
  font-size: 3rem;
  font-family: var(--kr-font);
  font-weight: 400;
  line-height: 1.2;
  transition: 0.5s;
}

.statistic-timer.text-active {
  font-size: 3rem;
  color: var(--accent-color);
  font-family: var(--kr-font);
  font-weight: 900;
}

.statistic-timer:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #a3a3a3;
  margin: 15px auto 23px;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .statistic-timer {
    font-size: 32px !important;
  }
}



.statistic-1 {
  padding: 20px 0;
}

.statistic-1.last {
  border-right: 0;
}

.statistic-1 .statistic-timer {
  font-size: 48px;
  font-weight: 400;
}

.statistic-1 .statistic-timer:after {
  display: none;
}

.statistic-1 .counter-text {
  font-size: 5rem;
  font-family: var(--kr-font);
  margin-bottom: 5px;
}

.counter-text {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  font-family: var(--kr-font);
}

.statistic.with-icon .statistic-timer {
  display: block;
  margin: 20px 0;
}

/*-------------------------------------------------------*/
/* hero-logo-draw
/*-------------------------------------------------------*/

/* SVG 크기 설정 */
#hero-logo {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
}

/* 경로 그려지는 동안 선만 보이게 설정 */
#hero-logo path {
  stroke: white;
  /* 선 색상: 흰색 */
  stroke-width: 2;
  /* 선 두께 */
  fill: transparent;
  /* 채우기 없음 */
  stroke-dasharray: 1000;
  /* 경로 길이를 설정 */
  stroke-dashoffset: 1000;
  /* 경로를 숨긴 상태로 시작 */
  animation: draw 1.5s ease forwards;
  /* 1.5초 동안 그려지는 애니메이션 */
  transition: fill 1s ease;
  /* 채워지는 색상이 부드럽게 전환되도록 설정 */
}

/* 그려지는 애니메이션 */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    /* 경로가 완전히 그려짐 */
  }
}